  /* Based on CSS from <https://rosenzweig.io/>. */
  code {
      white-space: pre-wrap;
  }
  q {
      quotes: "“" "”" "‘" "’";
  }
  body {
      font-size: 120%;
      max-width: 40em;
      margin: 0px auto;
      padding: 0em 1em 1em 1em;
      line-height: 1.6;
  }
  header{
      text-align: center;
  }
  a {
      text-decoration: none;
  }
  a.title {
      text-decoration: underline;
      font-weight: bold;
  }
  img {
      width: 100%;
  }

/* My personal style additions */
  @font-face {
      font-family: 'Open Sans';
      src: url('/csh/fonts/open-sans/OpenSans-Regular.woff');
  }
  @font-face {
      font-family: 'Montserrat';
      src: url('/csh/fonts/montserrat/Montserrat-Medium.woff');
  }
  h1, h2, h3, h4, h5 {
      font-family: 'Montserrat';
  }
  body {
      font-family: 'Open Sans';
      color: #657b83; /* base00 */
      background-color: #fdf6e3; /* base3 */
  }
  a {
      color: #268bd2; 
  }
  a:hover {
      background-color: #eee8d5; /* base2 */
  }
  a:active {
      color: #dc322f; /* red */
      background-color: #eee8d5; /* base 2 */      
  }
  a:visited {
      color: #6c71c4; /* violet */      
  }
  

