<pre>$ sudo yum -y install --allowerasing freed-ora-freedom
Last metadata expiration check: 0:01:47 ago on Sat 05 Jun 2021 12:20:11 PM CDT.
Dependencies resolved.
==============================================================================================================================
 Package                                Architecture        Version                              Repository              Size
==============================================================================================================================
Installing:
 <font color="#26A269"><b>freed-ora-freedom                     </b></font> noarch              14-1                                 freed-ora               11 k
Removing dependent packages:
 <font color="#C01C28">atmel-firmware                        </font> noarch              1.3-24.fc34                          @fedora                711 k
 <font color="#C01C28">ipw2100-firmware                      </font> noarch              1.3-28.fc34                          @fedora                604 k
 <font color="#C01C28">ipw2200-firmware                      </font> noarch              3.1-21.fc34                          @fedora                563 k
 <font color="#C01C28">iwl100-firmware                       </font> noarch              39.31.5.1-119.fc34                   @fedora                115 k
 <font color="#C01C28">iwl1000-firmware                      </font> noarch              1:39.31.5.1-119.fc34                 @fedora                226 k
 <font color="#C01C28">iwl105-firmware                       </font> noarch              18.168.6.1-119.fc34                  @fedora                194 k
 <font color="#C01C28">iwl135-firmware                       </font> noarch              18.168.6.1-119.fc34                  @fedora                203 k
 <font color="#C01C28">iwl2000-firmware                      </font> noarch              18.168.6.1-119.fc34                  @fedora                197 k
 <font color="#C01C28">iwl2030-firmware                      </font> noarch              18.168.6.1-119.fc34                  @fedora                205 k
 <font color="#C01C28">iwl3160-firmware                      </font> noarch              1:25.30.13.0-119.fc34                @fedora                2.5 M
 <font color="#C01C28">iwl3945-firmware                      </font> noarch              15.32.2.9-119.fc34                   @fedora                 56 k
 <font color="#C01C28">iwl4965-firmware                      </font> noarch              228.61.2.24-119.fc34                 @fedora                 69 k
 <font color="#C01C28">iwl5000-firmware                      </font> noarch              8.83.5.1_1-119.fc34                  @fedora                339 k
 <font color="#C01C28">iwl5150-firmware                      </font> noarch              8.24.2.2-119.fc34                    @fedora                112 k
 <font color="#C01C28">iwl6000-firmware                      </font> noarch              9.221.4.1-119.fc34                   @fedora                131 k
 <font color="#C01C28">iwl6000g2a-firmware                   </font> noarch              18.168.6.1-119.fc34                  @fedora                311 k
 <font color="#C01C28">iwl6000g2b-firmware                   </font> noarch              18.168.6.1-119.fc34                  @fedora                318 k
 <font color="#C01C28">iwl6050-firmware                      </font> noarch              41.28.5.1-119.fc34                   @fedora                270 k
 <font color="#C01C28">iwl7260-firmware                      </font> noarch              1:25.30.13.0-119.fc34                @fedora                 32 M
 <font color="#C01C28">libertas-usb8388-firmware             </font> noarch              2:20210315-119.fc34                  @fedora                 79 k
 <font color="#C01C28">linux-firmware                        </font> noarch              20210315-119.fc34                    @fedora                170 M
 <font color="#C01C28">microcode_ctl                         </font> x86_64              2:2.1-45.fc34                        @fedora                3.5 M
 <font color="#C01C28">zd1211-firmware                       </font> noarch              1.5-8.fc34                           @fedora                 64 k

Transaction Summary
==============================================================================================================================
Install   1 Package
Remove   23 Packages

Total download size: 11 k
Downloading Packages:
freed-ora-freedom-14-1.noarch.rpm                                                              45 kB/s |  11 kB     00:00    
------------------------------------------------------------------------------------------------------------------------------
Total                                                                                          45 kB/s |  11 kB     00:00     
Running transaction check
Transaction check succeeded.
Running transaction test
Transaction test succeeded.
Running transaction
  Preparing        :                                                                                                      1/1 
  Running scriptlet: freed-ora-freedom-14-1.noarch                                                                       1/24 
Error: kernel-modules-extra-5.8.6-201.fc32.x86_64 conflicts with freed-ora-freedom
Error: kernel-modules-5.8.6-201.fc32.x86_64 conflicts with freed-ora-freedom
Error: kernel-5.8.6-201.fc32.x86_64 conflicts with freed-ora-freedom
Error: kernel-core-5.8.6-201.fc32.x86_64 conflicts with freed-ora-freedom
Error: kernel-core-5.9.13-200.fc33.x86_64 conflicts with freed-ora-freedom
Error: kernel-modules-5.9.13-200.fc33.x86_64 conflicts with freed-ora-freedom
Error: kernel-5.9.13-200.fc33.x86_64 conflicts with freed-ora-freedom
Error: kernel-modules-extra-5.9.13-200.fc33.x86_64 conflicts with freed-ora-freedom
Error: kernel-core-5.11.15-200.fc33.x86_64 conflicts with freed-ora-freedom
Error: kernel-modules-5.11.15-200.fc33.x86_64 conflicts with freed-ora-freedom
Error: kernel-5.11.15-200.fc33.x86_64 conflicts with freed-ora-freedom
Error: kernel-modules-extra-5.11.15-200.fc33.x86_64 conflicts with freed-ora-freedom
Error: kernel-srpm-macros-1.0-4.fc34.noarch conflicts with freed-ora-freedom
Error: kernel-core-5.11.15-300.fc34.x86_64 conflicts with freed-ora-freedom
Error: kernel-modules-5.11.15-300.fc34.x86_64 conflicts with freed-ora-freedom
Error: kernel-5.11.15-300.fc34.x86_64 conflicts with freed-ora-freedom
Error: kernel-modules-extra-5.11.15-300.fc34.x86_64 conflicts with freed-ora-freedom
error: %prein(freed-ora-freedom-14-1.noarch) scriptlet failed, exit status 1

Error in PREIN scriptlet in rpm package freed-ora-freedom
  Erasing          : zd1211-firmware-1.5-8.fc34.noarch                                                                   2/24 
error: freed-ora-freedom-14-1.noarch: install failed

  Erasing          : microcode_ctl-2:2.1-45.fc34.x86_64                                                                  3/24 
  Erasing          : linux-firmware-20210315-119.fc34.noarch                                                             4/24 
  Erasing          : libertas-usb8388-firmware-2:20210315-119.fc34.noarch                                                5/24 
  Erasing          : iwl7260-firmware-1:25.30.13.0-119.fc34.noarch                                                       6/24 
  Erasing          : iwl6050-firmware-41.28.5.1-119.fc34.noarch                                                          7/24 
  Erasing          : iwl6000g2b-firmware-18.168.6.1-119.fc34.noarch                                                      8/24 
  Erasing          : iwl6000g2a-firmware-18.168.6.1-119.fc34.noarch                                                      9/24 
  Erasing          : iwl6000-firmware-9.221.4.1-119.fc34.noarch                                                         10/24 
  Erasing          : iwl5150-firmware-8.24.2.2-119.fc34.noarch                                                          11/24 
  Erasing          : iwl5000-firmware-8.83.5.1_1-119.fc34.noarch                                                        12/24 
  Erasing          : iwl4965-firmware-228.61.2.24-119.fc34.noarch                                                       13/24 
  Erasing          : iwl3945-firmware-15.32.2.9-119.fc34.noarch                                                         14/24 
  Erasing          : iwl3160-firmware-1:25.30.13.0-119.fc34.noarch                                                      15/24 
  Erasing          : iwl2030-firmware-18.168.6.1-119.fc34.noarch                                                        16/24 
  Erasing          : iwl2000-firmware-18.168.6.1-119.fc34.noarch                                                        17/24 
  Erasing          : iwl135-firmware-18.168.6.1-119.fc34.noarch                                                         18/24 
  Erasing          : iwl105-firmware-18.168.6.1-119.fc34.noarch                                                         19/24 
  Erasing          : iwl1000-firmware-1:39.31.5.1-119.fc34.noarch                                                       20/24 
  Erasing          : iwl100-firmware-39.31.5.1-119.fc34.noarch                                                          21/24 
  Erasing          : ipw2200-firmware-3.1-21.fc34.noarch                                                                22/24 
  Erasing          : ipw2100-firmware-1.3-28.fc34.noarch                                                                23/24 
  Erasing          : atmel-firmware-1.3-24.fc34.noarch                                                                  24/24 
  Running scriptlet: atmel-firmware-1.3-24.fc34.noarch                                                                  24/24 
  Verifying        : freed-ora-freedom-14-1.noarch                                                                       1/24 
  Verifying        : atmel-firmware-1.3-24.fc34.noarch                                                                   2/24 
  Verifying        : ipw2100-firmware-1.3-28.fc34.noarch                                                                 3/24 
  Verifying        : ipw2200-firmware-3.1-21.fc34.noarch                                                                 4/24 
  Verifying        : iwl100-firmware-39.31.5.1-119.fc34.noarch                                                           5/24 
  Verifying        : iwl1000-firmware-1:39.31.5.1-119.fc34.noarch                                                        6/24 
  Verifying        : iwl105-firmware-18.168.6.1-119.fc34.noarch                                                          7/24 
  Verifying        : iwl135-firmware-18.168.6.1-119.fc34.noarch                                                          8/24 
  Verifying        : iwl2000-firmware-18.168.6.1-119.fc34.noarch                                                         9/24 
  Verifying        : iwl2030-firmware-18.168.6.1-119.fc34.noarch                                                        10/24 
  Verifying        : iwl3160-firmware-1:25.30.13.0-119.fc34.noarch                                                      11/24 
  Verifying        : iwl3945-firmware-15.32.2.9-119.fc34.noarch                                                         12/24 
  Verifying        : iwl4965-firmware-228.61.2.24-119.fc34.noarch                                                       13/24 
  Verifying        : iwl5000-firmware-8.83.5.1_1-119.fc34.noarch                                                        14/24 
  Verifying        : iwl5150-firmware-8.24.2.2-119.fc34.noarch                                                          15/24 
  Verifying        : iwl6000-firmware-9.221.4.1-119.fc34.noarch                                                         16/24 
  Verifying        : iwl6000g2a-firmware-18.168.6.1-119.fc34.noarch                                                     17/24 
  Verifying        : iwl6000g2b-firmware-18.168.6.1-119.fc34.noarch                                                     18/24 
  Verifying        : iwl6050-firmware-41.28.5.1-119.fc34.noarch                                                         19/24 
  Verifying        : iwl7260-firmware-1:25.30.13.0-119.fc34.noarch                                                      20/24 
  Verifying        : libertas-usb8388-firmware-2:20210315-119.fc34.noarch                                               21/24 
  Verifying        : linux-firmware-20210315-119.fc34.noarch                                                            22/24 
  Verifying        : microcode_ctl-2:2.1-45.fc34.x86_64                                                                 23/24 
  Verifying        : zd1211-firmware-1.5-8.fc34.noarch                                                                  24/24 

Removed:
  atmel-firmware-1.3-24.fc34.noarch                          ipw2100-firmware-1.3-28.fc34.noarch                             
  ipw2200-firmware-3.1-21.fc34.noarch                        iwl100-firmware-39.31.5.1-119.fc34.noarch                       
  iwl1000-firmware-1:39.31.5.1-119.fc34.noarch               iwl105-firmware-18.168.6.1-119.fc34.noarch                      
  iwl135-firmware-18.168.6.1-119.fc34.noarch                 iwl2000-firmware-18.168.6.1-119.fc34.noarch                     
  iwl2030-firmware-18.168.6.1-119.fc34.noarch                iwl3160-firmware-1:25.30.13.0-119.fc34.noarch                   
  iwl3945-firmware-15.32.2.9-119.fc34.noarch                 iwl4965-firmware-228.61.2.24-119.fc34.noarch                    
  iwl5000-firmware-8.83.5.1_1-119.fc34.noarch                iwl5150-firmware-8.24.2.2-119.fc34.noarch                       
  iwl6000-firmware-9.221.4.1-119.fc34.noarch                 iwl6000g2a-firmware-18.168.6.1-119.fc34.noarch                  
  iwl6000g2b-firmware-18.168.6.1-119.fc34.noarch             iwl6050-firmware-41.28.5.1-119.fc34.noarch                      
  iwl7260-firmware-1:25.30.13.0-119.fc34.noarch              libertas-usb8388-firmware-2:20210315-119.fc34.noarch            
  linux-firmware-20210315-119.fc34.noarch                    microcode_ctl-2:2.1-45.fc34.x86_64                              
  zd1211-firmware-1.5-8.fc34.noarch                         
Failed:
  freed-ora-freedom-14-1.noarch                                                                                               

Error: Transaction failed
$ 
</pre>
