rss   { display: block; margin: 0.5em }
title { display: block; font-size: xx-large; font-weight: bold; margin: 0 0 0.5em 0; }
link  { display: none; }
language { display: none; }
description { display: block; }
item  { display: block; }
item title { display: block; font-size: large; font-weight: bold; margin: 0.67em 0 0.2em 0; }
item pubDate:before { content: "Posted: "; }
item pubDate { display: block; }
item link:before { content: "Audio: "; }
item link { display: block; }
